*{  
background-color:#060929;
color: #cbe493;
font-size: 115%;
font-family: 'Quicksand', sans-serif;
}
h4{
  text-align: center;
  background-color: #0a0e44;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 150%;
}
.js{
  margin-inline-start: 0%;
  margin-right: 70%;
  max-width: 100%;  
}
header{

  background-image: url("../img/ia1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  opacity: 70%;
  background-size: 100% 100%;
  width: auto;
  max-height: 100%;
  left: 0px;
  text-align: center;
  padding: 2% 0;
/* display: inline-block; */
}
header img{
   height: 30% ;
   display: flex;
  width: 45%; 
  color: rgba(202, 202, 62, 0);
  text-align: center;
  margin-inline-start: 30%;
  background-image: url("../img/hi.gif");
  background-size: 93%;
  background-color: black;
  border: 3px,#00ff95; 
}


header h3{
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  color: #cbe493;
  font-family: 'Pixelify Sans', cursive;
  font-size: 120%;
}
#im{
  padding-left:35%;  
  padding-right:35%;
  height: 60%;
  width: 30%;
  display: block;
  background-image: url("../img/ia1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  opacity: 70%;
  background-size: 100% 100%;

}
img {
 height: 15%;
 width: 15%;
 
}
.center{
  padding: 3% 25%;
  
  display: flex;
   justify-content: space-between;

  /* display:inline-block; */
  background-image: url("../img/ia1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  opacity: 70%;
  background-size: 100% 100%;

}
  #bt {
    position: fixed;
    bottom: 25px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: xx-large;
    text-align:center;
    padding-top: 5px;
    background-color: #4252db;
    cursor: pointer;
    color: rgb(49, 47, 47);
    border-radius: 70%;
    display: none;
  }
   
  /* width */
::-webkit-scrollbar {
  width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 2px 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #01345c; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #034c6e; 
  width: 20px;
}

.hide{
  display: none;
}
#op{
position: fixed;
border-radius: 5px;
opacity: 100;
z-index: 999;
}
#cl{
  position: fixed;
  border-radius: 5px;
  opacity: 100;
  z-index: 999;
  left: 23%;
}
#menutxt{
  line-height: 255%;
  position: fixed;
  border-radius: 5px;
  opacity: 100;
background-color: #171e58;
text-decoration: none;
text-emphasis-color: #78c530;
height: 1000px;
width: 200px;
left: 1%;
color:#060929;
border: 5px #424880 solid;
cursor: pointer;
font-size: large;
text-align:center;
z-index: 999;
}
#table button{
  cursor: pointer;
text-align: center;
height: auto;
width: auto;
border: 3px #fdff92 solid;
}
#num:hover{
background-color:#191f61;
}
#equle:hover{
  background-color:#191f61;
  }
#opre:hover{
  background-color:#191f61;
  }
  #dle:hover{
    background-color:#191f61;
    }
    #clr:hover{
      background-color:#191f61;
      }
#table{
  padding: 0 15%;
  }
  #table td{
    padding-left: 9%;
    }  
#Result input{
  justify-content: center;
  align-items: center;
  grid-template-rows: minmax(auto auto);

  background-color: rgb(0, 0, 0,0.5);
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 1%;
  word-wrap: break-word;
  word-break: break-all;
  color: #d1df85;
}
#num{
  color: #81defa;
}
#opre{
  color: #477017;
}
#dle{
  color: #aa0000;
}
#clr{
  color: #ff0000;
}
#equle{
  color: #91ff00;
}
#bold{
  height: 30%;
width: 50%;
color: #4252db;
}

.choose{
  font-size: x-large;
  font-weight: bolder;
  height: 40%;
  width: 10%;
  margin:6.5%;
  padding : 3.5% 1%;
  margin-left: 15%;
  color: #011530;
  background-color: #7fa7fd;
  display: inline;
}
.Guess{
  font-size: x-large;
  font-weight: bolder;
  margin-left:45%;
  color:#7fa7fd ;
  background-color: #001f47;
  display: inline;
  padding : 2% 5%;
}
.rando{
  font-size: x-large;
  font-weight: bolder;
  height: 40%;
  width: 10%;
  margin:3%;
  padding : 3.5% 0.5%;
  margin-left: 46%;
  color: #011530;
  background-color: #7fa7fd;
  display: inline;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
}
