*{
background-color: rgb(5, 5, 49);
color: beige;
}
header{
  background-image: url('ia.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  opacity: 70%;
  height: 500px;
  width: 1300px; 
  left: 0px;
  text-align: center;

}
header h1{
  color: rgb(202, 202, 62);
  text-align: center;}
header h3{
  text-align: center;
  border: 1px,rgb(5, 5, 49);
  color: rgb(223, 114, 63);
}
img {
 height: 15%;
 width: 15%;
 
}
  div {    
width: 3000px;
}
  button {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: rgb(221, 156, 81);
    cursor: pointer;
    color: black;
   display: none;
  } 